.Main {
    margin-top: 60px;
    margin-left: 260px;
    position: relative;
    background: #f1f4f5;
    min-height: calc(100vh - 60px);
    z-index: 0;
}

.page_header {
    padding: 15px 30px;
}

.page-title {
    font-size: 20px;
    padding: 20px 0;
}

.page-content {
    padding: 30px;
    padding-top: 0;
}

.info-panel .card-block {
    /* background: #3e8ef7; */
    padding: 20px 20px 10px 20px; 
    margin-bottom: 2.143rem;
    position: relative;
    border-radius: 3px;
}

.watermark-icon {
    float: right;
    fill: #000;
    margin: 20px;
    font-size: 40px;
    margin-right: -5px;
    margin-bottom: -10px;
    /* position: absolute;
    right: 0;
    bottom: 0; */
    line-height: 1;
    opacity: 0.1;
}

.card-block .dashboard_card {
    text-align: left;
    color: #fff;
    float: left;
}

.dashboard_card span {
    display: block;
    font-size: 30px;
}

.dashboard_card p {
    font-size: 12px;
    text-transform: uppercase;

}